.App {
  min-height: 100vh;
}

.glow-text-primary {
  text-shadow: 0 0 20px rgba(255, 46, 99, 0.7);
}

.glow-text-secondary {
  text-shadow: 0 0 20px rgba(8, 217, 214, 0.7);
}
@media(max-width:640px){
.clip-corner
.clip-corner-all{
clip-path:none !important;
}
}
.clip-corner {
  clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 0 100%);
}

.clip-corner-all {
  clip-path: polygon(
    0 20px, 20px 0, 
    calc(100% - 20px) 0, 100% 20px,
    100% calc(100% - 20px), calc(100% - 20px) 100%,
    20px 100%, 0 calc(100% - 20px)
  );
}